STAGE A QUIZ SOLUTION

In [1]:
import numpy as np
import pandas as pd
foodagric = pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv?raw=true.csv', encoding = 'latin-1')

In [2]:
foodagric

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [3]:
#Q11
foodagric.groupby(["Item"]).sum()[["Y2014", "Y2017"]]

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [6]:
#Q12
foodbal1 = round(foodagric.Y2015.mean(), 3)
foodbal2 = round(foodagric.Y2015.std(), 3)

print(foodbal1)
print(foodbal2)

135.236
1603.404

In [7]:
#Q13
foodmissing = foodagric.Y2016.isnull().sum()
foodmisperc = round((foodmissing/len(foodagric.Y2016)*100),2)

print(foodmissing)
print(foodmisperc)

1535
2.52

In [10]:
#Q14
foodagric.groupby(['Element Code']).corr().sum()

Area Code    18.493731
Item Code    25.835666
Y2014        86.012975
Y2015        85.248146
Y2016        87.093281
Y2017        86.958780
Y2018        86.516790
dtype: float64

In [11]:
#Q15
foodagric.groupby(["Element"]).sum().loc["Import Quantity"]

Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Y2014             274144.48
Y2015             267018.46
Y2016             286582.78
Y2017             294559.09
Y2018             287997.09
Name: Import Quantity, dtype: float64

In [12]:
#Q16
foodagric.groupby(["Element"]).sum().loc["Production","Y2014"]

1931287.75

In [13]:
#Q17 & Q18
foodagric.groupby(['Element']).sum()['Y2018'].sort_values()[::-1]

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [14]:
#Q19
foodagric[foodagric["Area"]=="Algeria"].groupby("Element").sum().loc["Import Quantity","Y2018"]

36238.29

In [15]:
#Q20
foodagric.Area.nunique()

49